[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=noita_editor
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Noita Editor
Comment=Create custom noita maps.